<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Folders</title>
	</head>
	<body>
		<% if (files && files.length > 0) { %> <% files.forEach(element => { %>
		<div><%= element %></div>
		<% }); %> <% } else { %>
		<div><p>There's nothing here...</p></div>
		<% } %>
	</body>
</html>
